#outline{
	margin-top: 20px;
	margin-bottom: 20px;
}

.main{
	display:grid;
	grid-template-columns: 30% 70%;
	grid-column-gap:1em;	
}
.main1{
	box-shadow: -5px -5px 5px #888888;
}


.navsection{
 	background-color: #ffffff;
 	box-shadow: -5px -5px 5px #888888;
 } 

 img{
  border-radius: 0px 0px 0px 0px;
  object-fit: cover;
}

.mainbody{
	display:grid;
	grid-template-rows: 50% 50%;
	grid-row-gap:1em;
}
.mainbody>div{
	background-color: #ffffff;
	padding:1em;
}

.list{
	list-style:none;
	font-weight: bold;
	padding-top: 1em;
	text-align:center;
	padding-right: 10%;
	color:#999999;

}

.edu-details{
	color:#999999;
	padding-left: 4%;
}
