
<div class="container" id="outline">
<div class= "main" >

  <div class= "navsection" >
     <img src="assets/profile.jpg" style="width:100%" alt="Vishal" id="profileimg">
     <hr style="width:85%">
      <h3 style ="text-align:center;color:#009688">VISHAL K M </h3>
     <ul class="list">
       <li>Cognizant Technology Solutions</li>
       <li>Hyderabad</li>
       <li>vishalkmohan@gmail.com</li>
       <li>9834587677</li>
     </ul>      

     <hr style="width:85%">
     <h4 style ="padding-left: 5%;color:#009688;"> <span style="color:#009688" class="glyphicon glyphicon-hand-down"></span> Skills</h4>
     <div class="container">
             <h5 style ="color:#999999;">Java</h5>
            <div class="progress" style="width:27%;">
                <div class="progress-bar progress-bar-success"  style="width:70%;">70%</div>
              </div>
      </div>
      <div class="container">
             <h5 style ="color:#999999;">Spring</h5>
            <div class="progress" style="width:27%">
                <div class="progress-bar progress-bar-success"  style="width:50%">50%</div>
              </div>
      </div>
      <div class="container">
             <h5 style ="color:#999999;">Angular JS</h5>
            <div class="progress" style="width:27%">
                <div class="progress-bar progress-bar-success"  style="width:40%">40%</div>
              </div>
      </div>
      <div class="container">
             <h5 style ="color:#999999;">Linux</h5>
            <div class="progress" style="width:27%">
                <div class="progress-bar progress-bar-success"  style="width:10%">10%</div>
              </div>
      </div>
   
  </div>

  <div >
    <div class= "mainbody" >
        <div class="main1">
        <div class="edu-details">
          
          <h2 style="color:#009688"><span class="glyphicon glyphicon-briefcase"></span> Work Experience</h2>          
              <h4><span class="glyphicon glyphicon-wrench"></span> Front End Developer</h4>

              <ul>
                <li>AngularJS</li>
                <li>BootstarpCSS</li>
                <li>HTML</li>
                <li>CSS</li>
              </ul>

              <hr style="width:95%">

              <h4><span class="glyphicon glyphicon-wrench"></span> Back End Developer</h4>
              <ul>
                <li>Java</li>
                <li>Spring</li>
                <li>Spring Boot</li>
                <li>REST</li>
              </ul>
               <hr style="width:95%">

        </div>
       
        </div>
        <div class="main1">
        <div class="edu-details">
          <h2 style="color:#009688"><span class="glyphicon glyphicon-education"></span> Education</h2>          
              <h4>Master Degree</h4>
              <span style="color:#009688" class="glyphicon glyphicon-calendar">2009-2012</span><br>
              Master of Computer Applications - MCA ,Amrita Vishwa Vidyapeetham
              <hr style="width:95%">
              <h4>Bachelor Degree</h4>
              <span style="color:#009688" class="glyphicon glyphicon-calendar">2006-2009</span><br>
              BSc Computer Science, Kannur University
               <hr style="width:95%">
               <h4>Schooling</h4>
                <span style="color:#009688" class="glyphicon glyphicon-calendar">2003-2005</span><br>
               Pluse Two , Kerala Higher Secondary Board, Alakode<br>
               10th, GHS Sreepuram,Kerala State Board, Manakadavu
          </div>
        </div>
    </div>
  </div>

</div>

</div>