#outline{
	margin-top: 20px;
	margin-bottom: 20px;
}

.main{
	display:grid;
	grid-template-columns: 30% 70%;
	grid-column-gap:1em;
}

.navsection{
 	background-color: #ffffff;
 } 

 img{
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.mainbody{
	display:grid;
	grid-template-rows: 50% 50%;
	grid-row-gap:1em;
}
.mainbody>div{
	background-color: #ffffff;
	padding:1em;
}

.list{
	list-style:none;
	font-weight: bold;
	padding-top: 1em;
	text-align:center;
	padding-right: 10%;
}

